export METASCAN_API_KEY=some_key
export METASCAN_SLACK_URL=some_url
export NODE_TLS_REJECT_UNAUTHORIZED=0 #required to http.request() metascan/pending further investigations
export VIRUSTOTAL_API_KEY=an_other_key
export VIRUSTOTAL_SLACK_URL=an_other_url
