Package: peerio-client
Version: 0.1-1
Architecture: /ARCH/
Maintainer: Samuel Martin Moro <samuel@peerio.com>
Section: comm
Homepage: https://peerio.com/
Priority: optional
Description: Peerio Standalone Client
 Peerio is a messaging and file sharing solution based on the miniLock,
 providing with strong end-to-end encryption.
