Package: peerio-client
Version: 0.1-1
Section: extra
Priority: optional
Architecture: /ARCH/
Depends: npm
Maintainer: Samuel Martin Moro <samuel@peerio.com>
Description: Peerio Standalone Client
 Peerio is a messaging and file sharing solution based on the miniLock,
 providing with strong end-to-end encryption.
